/Temp
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-vs.unityproj
/Omnom.sln
/Omnom-csharp.sln
/Omnom-csharp.v12.suo
/Library
/Obj
/Build
/Builds
/Builds
/Art